body {
    background-color: antiquewhite;
}

.card-body {
    background-color: rgb(248, 192, 120)
}

.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

.input-window {
    text-align: end;
    font-size: x-large;
}
